* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding-left: 32px;
  padding-right: 32px;
}

img {
  max-width: 100%;
}

.unlisted {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.btn {
  font-size: 20px;
  font-weight: 600;
  color: #111;
  border: none;
  border-radius: 35px;
  padding: 25px 56px 27px;
  background: url(/img/img/Group\ 1.svg) no-repeat;
}

header {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header--logo {
  position: relative;
}

.nav_container {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
}

.nav > .bi {
  font-size: 28px;
  color: #999;
  font-weight: bold;
}

.menu {
  position: absolute;
  right: 10px;
  top: calc(100% - 40px);
  z-index: 1;
}
.menu li {
  color: #555;
  font-size: 20px;
  font-weight: 400;
  padding: 3px 0;
}

.menu li:hover {
  color: #ff3998;
}

.btn:hover {
  color: #ff3998;
}

.has-children:hover ~ .menu {
  display: block;
  background-color: rgba(255, 255, 255, 0.587);
  padding: 10px;
  width: 120px;
}

.hero {
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px;
  overflow: hidden;
  display: flex;
}

.hero_img {
  position: absolute;
  top: calc(100% - 570px);
  left: 205px;
}

.hero_text_container {
  width: 270px;
  padding-top: 48px;
}

.hero_announcement_text {
  color: #ff3998;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
}

.hero_title {
  font-size: 48px;
  font-weight: 900;
  color: #111;
  padding-top: 24px;
  padding-bottom: 24px;
}

.hero-texte {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  color: #555;
}

.btn {
  margin-top: 32px;
}

.upsell {
  background: url(/img/img/assets/background.svg) no-repeat;
  background-size: cover;
  background-position: 80% center;
}

.section_title {
  font-size: 40px;
  font-weight: 500;
  padding-top: 122px;
  padding-bottom: 16px;
}

.upsell_texte {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 32px;
}

.press {
  margin-top: 67px;
  margin-bottom: 57px;
}

.press_logo_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px 75px;
}

.press_logo_item {
  display: flex;
  align-items: center;
}

.logo_title {
  font-size: 31.02px;
  font-weight: 400;
  color: #999;
  padding-left: 15px;
}

.disp900 {
  display: none;
}

.disp1440 {
  display: none;
}

.showcase {
  padding-bottom: 92px;
  overflow: hidden;
}

.show-titl {
  padding-top: 0;
}

.showcase_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  color: #555;
}
.showcase_text a {
  font-weight: 500;
  text-decoration-line: underline;
}

.showcase_cards_container {
  margin-top: 40px;
  padding-left: 35px;
  display: flex;
  gap: 40px;
  overflow: scroll;
  width: 100%;
}

.showcase_card {
  width: 290px;
}

.show-card-img {
  display: block;
}

.show_card_text_container {
  width: 290px;
  display: flex;
  gap: 20px;
  background-color: #eee;
  padding: 24px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.price_container {
  display: flex;
  gap: 8px;
}

.card_text_left {
  text-align: right;
}

.card_series {
  color: #ff8139;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
}

.card_name {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  padding: 12px 0;
}

.card_nr {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  color: #777;
}

.card_bids {
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  color: #777;
}

.footer_upsell {
  padding-top: 64px;
  padding-bottom: 66px;
  position: relative;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  overflow: hidden;
}

.footer_upsell::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #111;
  opacity: 0.08;
  position: absolute;
  top: calc(100% - 300px);
}

.footer_upsell_img {
  position: absolute;
  top: 26%;
  left: 250px;
  overflow: hidden;
}

.footer_upsell_text_container {
  width: 207px;
  margin-right: 14px;
}

.foot_upsell_title {
  font-size: 56px;
  font-weight: 900;
  padding: 24px 0;
}

footer {
  margin-top: 64px;
}

.footer_title_area {
  padding-bottom: 24px;
}

.footer_subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: #555;
  padding-top: 30px;
  padding-bottom: 32px;
}

.footer_links_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about_links a {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: #555;
}

.footer_links_title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
  color: #555;
  padding-bottom: 28px;
  padding-top: 40px;
}

.has-pad {
  padding-bottom: 15px;
}

.foot_icon {
  color: #999;
  font-size: 18px;
  padding-right: 10px;
}

/* ---copyright------- */
.copyright_container {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 105px;
}

.copyright_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: #999;
}

.copy_date {
  text-align: right;
  display: none;
}

.bdrs_bot {
  border-bottom: 16px;
}

@media screen and (min-width: 650px) {
  .menu {
    display: flex;
    gap: 15px;
    align-items: center;
    position: relative;
  }
  .has-children {
    display: none;
  }
  .nav_container {
    padding: 45px;
  }
  /* container */
  .container {
    padding-left: 45px;
    padding-right: 45px;
  }
  /* hero */
  .hero {
    padding-top: 133px;
  }
  .hero_img {
    position: absolute;
    top: calc(100% - 620px);
    left: 260px;
  }
  .hero_text_container {
    width: 410px;
  }
  .hero_title {
    font-size: 65px;
  }
  /* upsell */
  .upsell {
    background-position: 70% center;
  }
  .section_title {
    padding-bottom: 20px;
  }
  .upsell_texte {
    padding-bottom: 52px;
  }
  /* press */
  .press_logo_container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  /* show */
  .showcase {
    padding-bottom: 105px;
  }
  .show-titl {
    padding-bottom: 20px;
  }
  .showcase_cards_container {
    margin-top: 48px;
  }
  /* footer upsell */
  .footer_upsell {
    padding-top: 94px;
  }
  .footer_upsell_text_container {
    width: 350px;
  }
  .footer_upsell_img {
    left: 400px;
    top: 20%;
  }
  .footer_upsell::after {
    top: calc(100% - 280px);
  }
  /* footer */
  .footer_links_container {
    width: 600px;
  }
}
@media screen and (min-width: 900px) {
  .menu {
    gap: 22px;
  }
  .nav_container {
    padding: 60px;
  }
  .btn {
    margin-top: 40px;
  }
  /* container */
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
  /* hero */
  .hero {
    padding-top: 170px;
    padding-bottom: 120px;
  }
  .hero_img {
    top: calc(100% - 700px);
    left: 340px;
  }
  .hero_text_container {
    width: 450px;
  }
  .hero_title {
    font-size: 80px;
  }
  /* upsell */
  .upsell .section_title {
    padding-top: 140px;
  }
  /* press */
  .press {
    margin: 100px 0;
  }
  .press_logo_container {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
  }
  .press_logo_item {
    width: 250px;
  }
  .disp900 {
    display: block;
  }
  .none900 {
    display: none;
  }
  /* show */
  .showcase {
    padding-bottom: 110px;
  }
  .showcase_cards_container {
    margin-top: 52px;
    padding-left: 60px;
    padding-right: 60px;
  }
  /* footer upsell */
  .footer_upsell {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .footer_upsell_text_container {
    width: 400px;
  }
  .footer_upsell_img {
    top: 22%;
    left: 570px;
  }
  .footer_upsell::after {
    top: calc(100% - 260px);
  }
  /* footer */
  footer {
    margin-top: 100px;
  }
  .footer_links_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    gap: 28px;
  }
  .nav_container {
    padding: 70px 80px;
  }
  /* container */
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
  /* hero */
  .hero {
    padding-top: 175px;
    padding-bottom: 200px;
  }
  .hero_img {
    left: 530px;
  }
  .hero_text_container {
    width: 550px;
    padding-top: 130px;
  }
  .hero_title {
    font-size: 96px;
    padding-bottom: 32px;
  }
  .hero .btn {
    margin-top: 41px;
  }
  /* upsell */
  .upsell {
    background-position: center;
    margin: 0 78px;
    border-radius: 16px;
  }
  .upsell .container {
    padding-left: 64px;
  }
  .upsell .section_title {
    padding-bottom: 24px;
    padding-top: 154px;
  }
  .upsell_texte {
    padding-bottom: 64px;
  }
  /* press */
  .press {
    margin: 126px 0;
  }
  .press_logo_container {
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
  }
  .disp1440 {
    display: block;
  }
  /* show */
  .showcase {
    padding-bottom: 120px;
  }
  .show-titl {
    padding-top: 0;
    padding-bottom: 24px;
  }
  .container2 {
    margin-left: 80px;
    margin-right: 80px;
  }
  .showcase_cards_container {
    margin-top: 56px;
    padding-left: 0;
  }
  /* footer upsell */
  .footer_upsell {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .footer_upsell .container {
    padding-left: 0;
    padding-right: 0;
  }
  .footer_upsell_text_container {
    width: 565px;
  }
  .footer_upsell_img {
    left: 735px;
    top: 15%;
  }
  .footer_upsell::after {
    display: none;
  }
  .footer_upsell .btn {
    margin-bottom: 0;
  }
  /* footer */
  footer {
    margin-top: 120px;
  }
  .footer_container {
    display: flex;
    justify-content: space-between;
  }
  .footer_links_title {
    padding-top: 0;
  }
  .footer_title_area {
    padding-right: 200px;
    padding-bottom: 0;
  }
  .copyright_container {
    display: flex;
    justify-content: space-between;
    margin-top: 123px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 71px;
  }
  .copy_date {
    display: block;
  }
}
@media screen and (min-width: 1430px) {
  .nav_container {
    max-width: 1440px;
  }
  .hero_img {
    position: absolute;
    top: calc(100% - 800px);
    left: 680px;
  }
  /* press */
  .press_logo_container {
    gap: 90px;
  }
  .press_logo_item {
    width: 200px;
  }
  /* show */
  .showcase_cards_container {
    overflow: visible;
  }
  /* footer upsell */
  .footer_upsell_img {
    left: 860px;
  }
  /* footer */
  .footer_title_area {
    width: 670px;
    padding-right: 200px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1445px) {
  .max-container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .container2 {
    width: 1440px;
  }
  /* show */
  .showcase .container2 {
    margin: 0;
  }
  .showcase_cards_container {
    overflow: visible;
    padding-left: 80px;
  }
  /* footer upsell */
  .footer_upsell {
    width: 1280px;
  }
}/*# sourceMappingURL=main.css.map */