body {
  font-family: "Inter", sans-serif;
}

.btn {
  font-size: 20px;
  font-weight: 600;
  color: $Dark-1;
  border: none;
  border-radius: 35px;
  padding: 25px 56px 27px;
  background: url(/img/img/Group\ 1.svg) no-repeat;
}
