.upsell {
  background: url(/img/img/assets/background.svg) no-repeat;
  background-size: cover;
  background-position: 80% center;
}

.section_title {
  font-size: 40px;
  font-weight: 500;
  padding-top: 122px;
  padding-bottom: 16px;
}
.upsell_texte {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 32px;
}
