html {
  --Pink: #ff3998;
  --Orange: #ff8139;
  --Dark-1: #111;
  --Dark-2: #555;
  --Dark-3: #777;
  --Dark-4: #999;
  --Light-2: #eee;
}

body {
  font-family: "Inter", sans-serif;
}

/* ====Bendri====== */
.btn {
  font-size: 20px;
  font-weight: 600;
  color: var(--Dark-1);
  border: none;
  border-radius: 35px;
  padding: 25px 56px 27px;
  background: url(/img/img/Group\ 1.svg) no-repeat;
  margin-bottom: 66px;
}

/* =============Header=================== */
header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
}

.nav_container {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
}

.nav {
  position: relative;
}
.nav > .fa {
  font-size: 24px;
  width: 22px;
  color: var(--Dark-4);
}

.menu {
  position: absolute;
  right: 1px;
  top: calc(100% + 10px);
  z-index: 1;
}
.menu li {
  color: var(--Dark-2);
  font-size: 20px;
  font-weight: 400;
  padding: 3px 0;
}

.has-children:hover ~ .menu {
  display: block;
  background-color: rgba(255, 255, 255, 0.587);
  padding: 10px;
  width: 120px;
}

/* ========Hero====================== */

.hero {
  margin-top: 32px;
  position: relative;
}
.hero_img {
  position: absolute;
  top: calc(100% - 509px);
  left: 205px;
}
.hero_text_container {
  width: 274px;
}
.hero_announcement_text {
  color: var(--Pink);
  font-size: 16px;
  font-weight: 700;
}
.hero_title {
  font-size: 48px;
  font-weight: 900;
  color: var(--Dark-1);
  padding-top: 24px;
  padding-bottom: 24px;
}
.hero-texte {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  color: var(--Dark-2);
}
.btn {
  margin-top: 32px;
}

/* =========Upsell============ */

.upsell {
  background: url(/img/img/assets/background.svg) no-repeat;
  background-size: cover;
  background-position: 80% center;
}
.section_title {
  font-size: 40px;
  font-weight: 500;
  padding-top: 140px;
  padding-bottom: 16px;
}
.upsell_texte {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 42px;
}

/* =========Press=========== */

.press {
  margin-top: 57px;
  margin-bottom: 57px;
}
.press_logo_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px 75px;
}
.press_logo_item {
  display: flex;
  align-items: center;
}
.logo_title {
  font-size: 31.02px;
  font-weight: 400;
  color: var(--Dark-4);
  padding-left: 15px;
}

/* ===Shovecase====== */
.showcase {
  padding-bottom: 92px;
}
.show-titl {
  padding-top: 0;
}
.showcase_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  color: var(--Dark-2);
}
.showcase_text a {
  font-weight: 500;
  text-decoration-line: underline;
}
/* --showcard--- */
.showcase_cards_container {
  width: 600px;
  margin-top: 40px;
  display: flex;
  gap: 40px;
  overflow: scroll;
}

.showcase_card {
  width: 290px;
}
.show-card-img {
  display: block;
}
.show_card_text_container {
  width: 290px;
  display: flex;
  gap: 20px;
  background-color: var(--Light-2);
  padding: 24px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.price_container {
  display: flex;
  gap: 8px;
}
.card_text_left {
  text-align: right;
}
.card_series {
  color: var(--Orange);
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
}
.card_name {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  padding: 12px 0;
}
.card_nr {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  color: var(--Dark-3);
}
.card_bids {
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--Dark-3);
}

/* ======Footer Upsell===================== */

.footer_upsell {
  padding-top: 64px;
  position: relative;
}
.footer_upsell_img {
  position: absolute;
  top: calc(100% - 74%);
  left: 250px;
}
.footer_upsell_text_container {
  width: 207px;
  margin-right: 14px;
}

/* =========Medias============================ */

@media screen and (min-width: 700px) {
  .menu {
    display: flex;
    gap: 28px;
    align-items: center;
    position: relative;
  }
  .has-children {
    display: none;
  }
}
